[defaults]
inventory = ansible/inventory/hosts.yml
callback_result_format = yaml
bin_ansible_callbacks = True
callbacks_enabled = profile_tasks
host_key_checking = False
retry_files_enabled = False
gathering = explicit
forks = 5
timeout = 60
pipelining = True

[inventory]
enable_plugins = yaml

[persistent_connection]
connect_timeout = 60
command_timeout = 180
connect_retry_timeout = 60
